/* Front-End */
.front-wpa {
	max-width:350px;float:right;background:#DAF7A6;border-radius:5px;padding:10px;border-collapse:separate;
}
.front-wpa th {
	border-width:0px;
}
.front-wpa td {
	border-width:0px;color:#78788c;
}
.front-wpa th h2 {
	width:100%;margin:10px 0;padding-bottom:10px;color:#78788c;border-bottom:1px solid #bebed2;text-align:center;clear:both;
}

/* front side media query */
@media only screen and (max-width: 480px) {
    .front-wpa {
        width:auto;
    }
}


/* Back-End */
table#wpa-table{
	width: 80%;
	margin-top:25px;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table#wpa-table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
	font-size:14px;
}
table#wpa-table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
table#wpa-table td label {
	font-weight:bold;
}

table#wpa-table td input[type="text"] {
	font-size:12px;
	height: 30px;
	width:100%;
}
table#wpa-table td textarea {
	font-size:12px;
	width:100%;
}
table#wpa-table #btnsaveform {
	height: 35px;
    line-height: 35px;
    padding: 0 25px 10px;
    margin: 0px 20px 0px 0px;
	
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    
    background: #0085ba none repeat scroll 0 0;
    color: #fff;
    box-shadow: 0 1px 0 #006799;
    border-color: #0073aa #006799 #006799;
	border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    white-space: nowrap;
}
